@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.heading {
  color: #00b4d8;
}

.container {
  max-width: 400px;
}
input[type="text"],
input[type="text"]:focus {
  color: black;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}
.todos li {
  background: #00b4d8;
}
.delete {
  cursor: pointer;
}
.delete:hover {
  color: black;
}

.filtered {
  display: none !important;
}
